@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Italianno&display=swap');

body {
    background-color: lightblue;
    color: darkblue;

    padding: 1vh 1vw;

    font-family: 'Fira Sans', sans-serif;
    font-size: 2rem;
    max-width: 1024px;
    margin: auto;
    text-align: center;
    border: 1pt solid black;
}

body>* {
    padding: 0.5vh 0;
}

/* * {
    padding: 0.5vh 0.5vw;
} */

.cursive {
    font-size: 4rem;
    font-family: 'Italianno', cursive;
    font-weight: bold;
}

table.save-the-date, 
.save-the-date th,
.save-the-date td {
    /* border: 1px solid darkblue; */
    /* padding: 0.25vh 0.25vw; */
    /* margin: 0.25vh 0.25vw; */
    /* font-size: 1rem; */
}

#family-logo {
    width: 10rem;
}

.col {
    width: 100%;
}
.col > * {
    display: inline-block;
}

table {
    width: 45%;
}
iframe.map {
    min-height: 100%;
    width: 45%;
}