/* @import '/assets/css/light-theme.css'(prefers-color-scheme: light);
@import '/assets/css/dark-theme.css'(prefers-color-scheme: dark); */

body {
    background-color: var(--bgcolor);
    color: var(--color);
}

svg {
    fill: var(--color);
}



main th a,
main p a {
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--color);
    color: var(--bgcolor);
}

:root {
    --color: darkgreen;
    --bgcolor: pink;
    --border: url('/assets/img/Cyberscooty-Floral-Border-Extended-4-green.svg');
}