@import '/assets/css/light-theme.css'(prefers-color-scheme: light);
@import '/assets/css/dark-theme.css'(prefers-color-scheme: dark);

body {
    background-color: var(--bgcolor);
    color: var(--color);
}

svg {
    fill: var(--color);
}

a {
    color: blueviolet;
}

main th a,
main p a {
    padding: 0.5rem;
    border-radius: 1rem;
    background: var(--color);
    color: var(--bgcolor);
}
