header > * {
    flex-basis: 3em;
    flex-shrink: 1;
    min-width: 1em;
}

header .title {
    width: fit-content;
}

header > .title {
    flex-basis: content;
    flex-shrink: 5;
    font-size: 2em;
    /* flex-grow: 0; */
}