svg {
    fill: var(--color);
    width: 100%;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

header > svg:hover {
    animation: rotation 2s 1 linear;
}