html {
    min-height: 100vh;
}

body {
    padding: 1vh 1vw;
    max-width: 960px;
    margin: auto;
    text-align: center;
}

body>* {
    padding: 1vh 0;
}

.flex {
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

table {
    width: 100%;
}

td {
    padding: 1vh 1vw;
}

p {
    margin: 1vh 0;
}
