@font-face {
    font-family: 'Fedorovsk Unicode';
    src: url('/assets/font/FedorovskUnicode.otf');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('/assets/font/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'caveat';
    src: url('/assets/font/caveat.regular.ttf');
}

@font-face {
    font-family: 'Lucy';
    src: url('/assets/font/LucySaidOkPersonalUseItalic-OV9ee.ttf');
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
}

.lovely {
    font-family: 'Lucy', 'caveat', cursive;
    font-size: 2em;
    font-style: normal;
    font-weight: lighter;
}

em {
    font-family: 'caveat', cursive;
    font-style: normal;
    font-weight: initial;
    font-size: 1.25em;
}

strong>em {
    font-size: 2em;
}

html[lang="vrom"] * {
    font-family: 'Fedorovsk Unicode' !important;    
}

html[lang="vrom"] {
    font-size: 1.25em;
}

html[lang="vrom"] a,
html[lang="vrom"] svg {
    display: none;
}

a {
    text-decoration: none;
}

.site > main {
    font-size: 0.75em;
}

.phone {
    font-size: max(min(1em, 5vw), 0.75em);
}
